img {
  margin-top: 50px;
}

form{
  width: 300px;
  margin: auto;
  margin-top: 10px;
}

form div label{
  float: left;
  color: #0069d9;
  font-size: 15px;
  font-weight: bold;
}

form button{
  float: right;
}
